@charset "UTF-8";

body { 
  font-family: 'Lato',"Apple SD Gothic Neo", "Segoe UI Web Regular","wf_segoe-ui_normal","Segoe UI","Segoe UI Symbol","Myriad","Calibri","UnDotum","Damascus","Futura","Helvetica Neue","BBAlpha Sans","S60 Sans","Arial",sans-serif;
  background-color: #222222;
  font-weight: 400;
  color: #fff;
}

.state-label {
  fill: #fff;
  fill-opacity: .9;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-weight: 600;
  text-anchor: middle;
  pointer-events: none;
}

.single {
  display: block;
  margin: 1.25%;
  width: 97.5%;
}
@media screen and (min-width: 506px) { 
  .single {
    float: left;
    width: 48.125%;
    margin-right: 0%;
  }
}

.double {
  display: block;
  margin: 1.25%;
  width: 97.5%;
}

.arc {
  pointer-events: none;
  fill: none;
  opacity: 0.8;
  stroke-width: 4px;
  stroke-dasharray: 10, 4;
}

@keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes reverseflow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 14;
  }
}

@-webkit-keyframes reverseflow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 14;
  }
}
